label,
p {
  font-size: calc(16px + (18 - 16) * (100vw - 400px) / (1920 - 400));
  font-weight: 700;
}

p {
  font-weight: 400;
}

input {
  font-size: calc(16px + (18 - 16) * (100vw - 400px) / (1920 - 400));
}

h1 {
  font-size: calc(36px + (42 - 36) * (100vw - 400px) / (1920 - 400));
}

h2 {
  font-size: calc(32px + (36 - 32) * (100vw - 400px) / (1920 - 400));
}

h3 {
  font-size: calc(24px + (28 - 24) * (100vw - 400px) / (1920 - 400));
}

a {
  font-size: 12px;
}

.btn {
  border-radius: 0.4rem;
  color: blue;
  background-color: white;
  border: 2px solid blue;
  padding: 0.4rem 0.8rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn:hover {
  color: white;
  background-color: blue;
  cursor: pointer;
  transform: scale(1.1, 1.1);
  box-shadow: none;
}

input {
  border-radius: 6px;
}
