/* .login-container {
  position: relative;
  background-color: green;
} */

.login-form {
  /* width: 40vw; */
  /* max-width: 4vw; */
  /* height: 40vh; */
  /* max-height: 45vh; */
  padding: 1.6rem 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  background-color: var(--dark-clr);
  border: 2px solid var(--primary-clr);
  border-radius: 0.6rem;
  box-shadow: inset 0 0 50px rgb(0, 0, 0), 0 0 20px rgba(0, 0, 0, 0.5);
}

.label-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.login-form label {
  color: var(--primary-clr);
}

.login-form input {
  width: 100%;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.1);
}

.login-form input::placeholder {
  color: rgba(139, 139, 139, 0.5);
  padding: 4px;
}

.login-form input:focus {
  outline: none;
  box-shadow: 0 0 5px 2px var(--primary-clr);
}

#login-username {
  margin-bottom: 0.8rem;
}

#login-password {
  margin-bottom: 0.8rem;
}

.login-form-submit-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-form-submit-btn {
  width: 50%;
}

.login-form-link-container {
  display: flex;
  justify-content: center;
  gap: 6.4rem;
  margin-bottom: 1.6rem;
  width: 100%;
}

@media screen and (max-width: 420px) {
  .login-form {
    min-width: 85vw;
    max-width: 85vw;
    min-height: 30vh;
    max-height: 30vh;
  }
  .label-group {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  }
}
